{% extends 'user/base.html' %}
{%  block content %}
    <div class="content" id="projects">
        <h2>My Projects</h2>
        <div class="project-container">
            <div class="grid">
                {% for project in projects %}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-info">
                                <h3>{{ project.name }}</h3> 
                                <p>{{ project.industry }}</p>
                            </div>
                            <div class="project-skills">
                                {% for skill in project.skills_used.all %}
                                    <p>{{ skill.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-description" id="description">
                            <p class="text" id="text">
                                {{ project.description|truncatewords:20 }}
                            </p>
                            <div class="expanded-content" id="expanded-content">
                                <p>
                                    {{ project.description|safe }}
                                </p>
                            </div>
                            <a href="#" class="toggle-btn" id="toggle-btn">Show More</a>
                        </div>
                        <div class="buttons">
                            <a href="{{  project.website_link }}" class="btn">Visit</a>
                            <a href="{{  project.github_link }}" class="btn">View Code</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}