{% extends 'user/base.html' %}
{% block content %}
    <div class="skills">
        <h2>Skills</h2>
        <div class="skill-container">
            {% for skill in skills %}
                <div class="skill">
                    <div class="skill-info">
                        <span class="skill-name">{{ skill.name }}</span>
                        <span class="skill-percent" data-target="{{ skill.expertise }}">0%</span>
                    </div>
                    <div class="skill-bar">
                        <div class="skill-level" data-level="{{ skill.expertise }}"></div>
                    </div>
                </div>
            {% endfor %}
        </div>      
    </div>
{% endblock %}