{% extends 'user/base.html' %}
{% block content %}
    <div class="content">
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                        <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h2>Contact Me</h2>
    
        <!-- Testimonial submission form -->
        <form method="POST" id="testimonial-form" class="testimonial-form" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">Your Name</label>
            <input type="text" id="name" name="writer" placeholder="Enter your name" required>
    
            <label for="company">Email</label>
            <input type="email" id="company" name="email" placeholder="Enter your email" required>
    
    
            <label for="message">Message</label>
            <textarea type="message" id="message" name="text" placeholder="Enter your message" required></textarea>
    
            <div style="text-align: center;">
                <button type="submit" class="btn">Send Message</button>
            </div>
        </form>
    </div>
{% endblock %}