{% extends 'user/base.html' %}
{% block content %}
    <div class="about-me">
        <h2>About Me</h2>
        <p style="text-align: left;">{{ profile.about }}</p>
        <div class="about-me-info">
            <div>
                <p><strong>Name:</strong>{{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>Degree:</strong> Master</p>
                <p><strong>Phone:</strong> {{ user.phone_number }}</p>
            </div>
            <div>
                <p><strong>Experience:</strong> 10 Years</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Freelance:</strong> Available</p>
            </div>
        </div>
    </div>
{% endblock %}

<!-- https://meet.google.com/gcd-tksh-tmo -->